:root {
    --main-color: #1B1A22;
    --white-color: #E7E6EA;
    --second-color: #27262E;
    --third-color: #5AE6BE;
    --fourth-color: #848494;
}

header{
    position: fixed;
    width: 100%;
    height: 60px;
    z-index: 900;
}

body{
    background-color: var(--main-color);
    width: 100%;
}

.svgName{
    height: 80%;
    margin: auto;
}

.flex-container{
    display: flex;
    flex-flow: row nowrap;
}

.menu-btn{
    display: initial;
    position: fixed;
    width: 60px;
    height: 60px;
    right: 0;
    top: 0;
    border: none;
    border-radius: 50%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0);
}

.menu-span{
    display: block;
    background-color: var(--white-color);
    width: 40px;
    height: 5px;
    border-radius: 5px;
    position: relative;
    margin: auto;
    transition: all 0.5s ease-in-out;
}

.menu-span::after{
    content: " ";
    display: block;
    background-color: var(--white-color);
    width: 40px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    top: -10px;
    transition: all 0.5s ease-in-out;
}

.menu-span::before{
    content: " ";
    display: block;
    background-color: var(--white-color);
    width: 40px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    top: 10px;
    transition: all 0.5s ease-in-out;
}

.menu-span.active{
    height: 5px;
    background-color: rgba(0, 0, 0, 0);
    transform: rotate(180deg);
}

.menu-span.active::after{
    top: 0;
    transform: rotate(45deg);    
}

.menu-span.active::before{
    top: 0;
    transform: rotate(-45deg);
}

.menu{
    position: fixed;
    flex-flow: column nowrap;
    background-color: var(--second-color);
    top:  5px;
    right: 5px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
    transition: all 0.3s ease;
    opacity: 0;
    justify-content: center;
    align-items: center;
    z-index: 900;
}

.menu.active{
    width: 100%;
    height: 100%;
    bottom: 0;
    top:0;
    right: 0;
    border-radius: 0;
    opacity: 0.95;
    z-index: 900;
}

#nav-btn{
    display: flex;
    width: 100%;
    height: 60px;
    color: var(--white-color);
    align-items: center;
}

#nav-btn i{
    font-size: 2.5rem;
    padding-left: 20%;
    color: var(--white-color);
    opacity: 1;
}

#nav-btn .text-icons{
    font-size: 2rem;
    padding-left: 20px;
}

main{
    z-index: -1;
    width: 100%;
}

section{
    display: flex;
    min-height: 100vh;
    width: 100%;
}

#home{
    padding-top: 60px;
    background-color: var(--main-color);
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

#home::after{
    position: absolute;
    content: "</>";
    top: 70vh;
    color: var(--second-color);
    opacity: .45;
    font-size: 15rem;
    font-weight: 700;
    z-index: 1;
}

#home::before{
    position: absolute;
    content: "";
    left: 0;
    top:0;
    width: 50%;
    height: 70vh;
    background-color: var(--second-color);
    z-index: 1;
}

#home .img-profile{
    position: relative;
    top: 15px;
    right: 15px;
    max-width: 400px;
    max-height: 400px;
    width: 70%;
    height: 70%;
    background-color: var(--main-color);
    z-index: 100;
}

#home .img-profile img{
    background-color: var(--fourth-color);
    position: relative;
    bottom: 15px;
    left: 15px;
}

#home .text-profile{
    margin-top: 30px;
    width: fit-content;
    font-size: 1.6rem;
    color: var(--white-color);
    text-align: left;
    flex-flow: column nowrap;
    z-index: 100;
}

#home .text-profile h2:nth-child(1){
    font-size: 2.5rem;
    color: var(--third-color);
    font-weight: 700;
}

#home .text-profile h2:nth-child(2){
    color: var(--white-color);
    font-weight: 700;
    font-size: 2.5rem;
}

#home .text-profile .wrap {
    border-right: 0.12em solid var(--white-color);
    animation: cursor 300ms infinite;
}

@keyframes cursor {
    from, to { border-color: transparent }
  50% { border-color: var(--white-color)}   
}

#home .text-profile .social-network{
    width: fit-content;
    margin: 10px auto;
}

#home .text-profile .social-network .fab{
    font-size: 35px;
    margin: 5px;
    width: 35px;
    height: 35px;
    color: var(--white-color);
    transition: all 0.3s ease-in-out;
}

#home .text-profile .social-network a:hover > .fab{
   color: var(--second-color);
}

 #sobremi{
    flex-flow: column nowrap;
    padding-top: 60px;
    align-items: center;
}

#sobremi .title{
    font-size: 4rem;
    color: var(--second-color);
    font-weight: 700;
    opacity: .5;
}

#sobremi .content-sobremi{
    position: relative;
    width: 90%;
    height: 70vh;
    background-color: var(--second-color);
    overflow: hidden;
}

#sobremi .content-sobremi .nav-sobremi{
    width: 100%;
    color: var(--white-color);
    font-size: 1.5rem;
    text-align: center;
    font-weight: 700;
    padding: 15px 0;
}

#sobremi .content-sobremi .nav-sobremi a{
    position: relative;
    padding: 3px 3px 0px;
    cursor: pointer;
    background-color: var(--second-color);
    transition: all .3s ease-in-out;
    z-index: 100;
}

#sobremi .content-sobremi .nav-sobremi a:hover{
    bottom: 1px;
    text-shadow: 0 1px 1px var(--main-color),0 2px 2px var(--third-color);
}

#sobremi .content-sobremi .nav-sobremi a::before{
    position: absolute;
    content: "";
    width: 0;
    background-color: var(--third-color);
    height: 30px;
    transition: all .3s ease-in-out;
    z-index: -1;
}

#sobremi .content-sobremi .nav-sobremi a.active::before{
    width: 95%;
}
#sobremi .content-sobremi .nav-sobremi a.active:hover{
    color: var(--white-color);
    text-shadow: none;
    bottom: 0;
}

#sobremi .content-sobremi .perfil,
#sobremi .content-sobremi .formacion,
#sobremi .content-sobremi .habilidades{
    position: absolute;
    width: 90%;
    height: 80%;
    flex-flow: column nowrap;
    color: var(--white-color);
    margin: auto;
    left: 0;
    right: 0;
    justify-content: space-around;
    transform: translate(-110%,0);
    transition: all .3s ease-in-out;
}

#sobremi .content-sobremi .perfil{
    transform: translate(0,0);
}

#sobremi .content-sobremi .perfil span{
    font-size: 1.6rem;
    margin: 5px 0;
    font-weight: 700;
    text-align: center;
}

#sobremi .content-sobremi .perfil p{
    font-size: 1.4rem;
}

#sobremi .content-sobremi .perfil .btn-cv{
    margin: 5px auto;
    padding: 10px;
    font-size: 1.5rem;
    font-weight: 700;
    background: linear-gradient(to left, var(--third-color), var(--third-color)) no-repeat;
    background-position: center;
    background-size: 0 100%;
    transition: all .2s ease-in-out;
    color: var(--third-color);
    border: 3px solid var(--third-color);
    transition: all 0.3s ease-in-out;
}

#sobremi .content-sobremi .perfil .btn-cv:hover{
    color: var(--second-color);
    background-size: 100% 100%;
    filter: drop-shadow(0 0 5px var(--third-color));
}

#sobremi .content-sobremi .formacion {
    font-size: 1.2rem;
}

#sobremi .content-sobremi .formacion h3{
    font-size: 1.7rem;
    margin: 5px auto;
    color: var(--third-color);
}

#sobremi .content-sobremi .formacion h4{
    font-size: 1.4rem;
    margin: 2px auto;
    font-weight: 700;
}

#sobremi .content-sobremi .habilidades{
    flex-flow: row wrap;
    justify-content: start;
}

#sobremi .content-sobremi .habilidades figure{
    text-align: center;
    margin: 0 12px;
}

#sobremi .content-sobremi .habilidades .logoSkills{
 width: 50px;
 height: 50px;
}

@media only screen and (min-width:700px) {
    header{
        height: 60px;
        justify-content: space-between;
    }

    .svgName{
        height: 80%;
        margin: auto calc(20% -  100px);
    }

    .menu-btn{
        display: none;
    }

    .menu{
        position: initial;
        flex-flow: row nowrap;
        background-color: var(--main-color);
        width: fit-content;
        height: 60px;
        border-radius: 0;
        overflow: visible;
        opacity: 1;
    }

    #nav-btn{
        display: flex;
        width: 60px;
        flex-flow: column nowrap;
        height: 60px;
        align-items: center;
        justify-content: center;
        background: linear-gradient(to left, var(--third-color), var(--third-color)) no-repeat;
        background-position: 65px 0;
        transition: all .2s ease-in-out;
        font-weight: bold;
        cursor: pointer;
    }
    
    #nav-btn i{
        font-size: 2em;
        padding: 0;
        color: var(--white-color);
        transition: all .2s ease-in-out;
    }
    
    #nav-btn .text-icons{
        font-size: 1em;
        width: 0;
        height: 14px;
        padding: 0;
        overflow: hidden;
        transition: all .2s ease-in-out;
    }

    #nav-btn:hover{
        width: 100px;
        background-position: 0 0;
    }

    #nav-btn:hover > *{
        color: var(--main-color);
    }

    #nav-btn:hover > .text-icons{
        width: max-content;
        text-align: center;
    }

    #home{
        flex-flow: row nowrap ;
    }

    #home::before{
        width: 40%;
        height: 100vh;
    }

    #home::after{
        right: 12%;
        top:50vh;
        z-index: 1;
        font-size: 20rem;
    }

    #home .img-profile{
        margin: auto;
        margin-left: 20%;
    }

    #home .text-profile{
        font-size: 2.1rem;
        margin: auto 15px;
        text-align: left;
        z-index: 100;
    }

    #home .text-profile h2:nth-child(1){
        font-size: 3.6rem;
    }
    
    #home .text-profile h2:nth-child(2){
        font-size: 3.6rem;
    }

    #sobremi .content-sobremi{
    width: 55%;
    }

    #sobremi .content-sobremi .formacion{
        position: absolute;
        flex-flow: row nowrap;
        margin: 30px;
    }

    #sobremi .content-sobremi .perfil span{
        font-size: 2.5rem;
    }    
}

@media only screen and (min-width:1281px) {
    #home .img-profile{
        margin: auto;
        margin-left: 20%;
    }

    #home .text-profile{
        font-size: 2.1rem;
        margin: auto;
        text-align: left;
        z-index: 100;
    }

    #home .text-profile h2:nth-child(1){
        font-size: 3.6rem;
    }
    
    #home .text-profile h2:nth-child(2){
        font-size: 3.6rem;
    }
}
