/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&family=Yellowtail&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: #eeeae4;
  color: #20202c;
  transition: all 0.5s ease-in-out;
  /*-------------- DARK MODE----------- */
}
body header {
  position: fixed;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  height: 50px;
  top: 0;
  left: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
  width: 100%;
  z-index: 9999;
}
body header .btn-menu {
  display: none;
  width: 60px;
  height: 60px;
  background-color: #048abf;
  position: fixed;
  right: 10px;
  top: 50px;
  border: none;
  border-radius: 50%;
  z-index: 2000;
  cursor: pointer;
}
body header .btn-menu span {
  display: block;
  margin: auto;
  position: relative;
  width: 40px;
  height: 4px;
  background-color: #eeeae4;
  transition: all 0.3s ease-in-out;
}
body header .btn-menu span::after {
  position: absolute;
  display: block;
  margin: auto;
  content: "";
  width: 40px;
  height: 4px;
  background-color: #eeeae4;
  bottom: 8px;
  transition: all 0.3s ease-in-out;
}
body header .btn-menu span::before {
  position: absolute;
  display: block;
  margin: auto;
  content: "";
  width: 40px;
  height: 4px;
  background-color: #eeeae4;
  top: 8px;
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 600px) {
  body header .btn-menu {
    display: initial;
  }
}
body header .btn-menu.active span {
  background-color: transparent;
}
body header .btn-menu.active span::after {
  -webkit-transform: rotateZ(45deg) translate(7px, 5px);
          transform: rotateZ(45deg) translate(7px, 5px);
}
body header .btn-menu.active span::before {
  -webkit-transform: rotateZ(-45deg) translate(7px, -5px);
          transform: rotateZ(-45deg) translate(7px, -5px);
}
body header .logo {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
  gap: 10px;
  -ms-flex-align: center;
      align-items: center;
  height: 100%;
  margin-left: 15px;
}
body header .logo svg {
  height: 70%;
}
body header .logo svg .cls-1 {
  isolation: isolate;
}
body header .logo svg .cls-2 {
  fill: #048abf;
  transition: all 0.5s ease-in-out;
}
body header .logo svg .cls-3 {
  -webkit-mask: url(#mask);
          mask: url(#mask);
}
body header .logo svg .cls-4 {
  mix-blend-mode: darken;
  opacity: 0.36;
}
body header .logo svg .cls-5 {
  -webkit-mask: url(#mask-2);
          mask: url(#mask-2);
}
body header .logo svg .cls-6 {
  -webkit-filter: url(#luminosity-invert);
          filter: url(#luminosity-invert);
}
body header .logo .name {
  font-size: 2.2rem;
  font-family: "Yellowtail", cursive;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.658);
}
body header .logo .name span {
  color: #048abf;
}
body header nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  width: 350px;
  margin-left: -50px;
}
body header nav a#nav-btn {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  gap: 5px;
  -ms-flex-align: center;
      align-items: center;
  height: 40px;
  color: #20202c;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
body header nav a#nav-btn i {
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  font-size: 1.5rem;
  width: 40px;
  height: 40px;
  transition: all 0.5s ease-in-out;
}
body header nav a#nav-btn .nav-txt {
  word-wrap: normal;
  font-size: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}
body header nav a#nav-btn:hover i {
  transition: all 0.5s ease-in-out;
  background-color: #048abf;
}
body header nav a#nav-btn:hover .nav-txt {
  border-bottom: 4px solid #048abf;
  font-size: 1.3rem;
  transition: all 0.5s ease-in-out;
}
@media screen and (max-width: 600px) {
  body header nav {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(238, 234, 228, 0.568627451);
    -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
    transition: all 0.5s ease-in-out;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
  }
  body header nav .nav-txt {
    width: 100%;
    font-size: 1.3rem !important;
  }
  body header nav.active {
    top: 0;
  }
}
body header .btn-dark-mode {
  position: relative;
  background-color: rgba(133, 133, 133, 0.7137254902);
  border: none;
  outline: none;
  margin-right: 10px;
  border-radius: 15px;
  width: 50px;
  height: 25px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
body header .btn-dark-mode .fa-solid {
  position: absolute;
  top: 1px;
  right: 1px;
  left: auto;
  background-color: #eeeae4;
  color: #20202c;
  line-height: 23px;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  font-size: 1rem;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  transition: all 0.5s ease-in-out;
}
body section {
  padding-top: 50px;
  min-height: calc(100vh - 50px);
}
body section.inicio {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row-reverse wrap;
      flex-flow: row-reverse wrap;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}
body section.inicio .img-profile {
  position: relative;
  -ms-flex-item-align: center;
      align-self: center;
  -ms-flex: 1;
      flex: 1;
}
body section.inicio .img-profile img {
  display: block;
  margin: 0 auto;
  max-width: 500px;
  width: 90%;
  -webkit-filter: drop-shadow(0 0 1px #20202c);
          filter: drop-shadow(0 0 1px #20202c);
}
body section.inicio .text-profile {
  -ms-flex: 1;
      flex: 1;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  width: 100%;
}
body section.inicio .text-profile .content-name {
  max-width: 570px;
  width: 90%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
body section.inicio .text-profile .content-name .name {
  display: block;
  color: #eeeae4;
  font-size: 4rem;
  font-family: "Yellowtail", cursive;
  padding: 10px;
  padding-right: 14px;
  background-color: #048abf;
  border-radius: 10px;
}
body section.inicio .text-profile .content-name .name span {
  word-wrap: normal;
  border-radius: 10px;
  display: block;
  margin: auto;
  width: 100%;
  background-color: #048abf;
  text-align: center;
  border: 2px dashed #eeeae4;
}
body section.inicio .text-profile .typewrite {
  font-size: 2rem;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}
body section.inicio .text-profile .typewrite .wrap {
  border-right: 2px solid #20202c;
  -webkit-animation: wrap 0.2s ease-in infinite;
          animation: wrap 0.2s ease-in infinite;
}
@-webkit-keyframes wrap {
  0% {
    border-right: 2px solid #20202c;
  }
  100% {
    border-right: 2px solid #eeeae4;
  }
}
@keyframes wrap {
  0% {
    border-right: 2px solid #20202c;
  }
  100% {
    border-right: 2px solid #eeeae4;
  }
}
@media screen and (max-width: 600px) {
  body section.inicio {
    -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
  }
  body section.inicio .img-profile {
    -ms-flex: 0;
        flex: 0;
  }
  body section.inicio .text-profile {
    -ms-flex: 0;
        flex: 0;
  }
  body section.inicio .text-profile .content-name .name {
    margin-top: 15px;
    font-size: 2.5rem;
  }
  body section.inicio .text-profile .typewrite {
    font-size: 1.5rem;
  }
}
body section.sobre-mi {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}
body section.sobre-mi .img-sobre-mi {
  -ms-flex-positive: 1;
      flex-grow: 1;
}
body section.sobre-mi .img-sobre-mi img {
  display: block;
  margin: auto;
  max-width: 400px;
  width: 100%;
}
body section.sobre-mi .txt-sobre-mi {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  font-family: "Open Sans", sans-serif;
}
body section.sobre-mi .txt-sobre-mi .perfil,
body section.sobre-mi .txt-sobre-mi .formacion {
  max-width: 400px;
  padding: 10px;
  margin: 10px;
  background-color: #048abf;
  border-radius: 10px;
  color: #eeeae4;
}
body section.sobre-mi .txt-sobre-mi .perfil .border,
body section.sobre-mi .txt-sobre-mi .formacion .border {
  border: 2px dashed #eeeae4;
  border-radius: 10px;
  padding: 10px;
}
body section.sobre-mi .txt-sobre-mi .perfil .border h3,
body section.sobre-mi .txt-sobre-mi .formacion .border h3 {
  margin: 5px 0;
  font-weight: bold;
  font-size: 1.2rem;
  color: #20202c;
}
body section.sobre-mi .txt-sobre-mi .perfil .border p,
body section.sobre-mi .txt-sobre-mi .formacion .border p {
  margin-left: 5px;
}
body section.sobre-mi .txt-sobre-mi .perfil .border ul li,
body section.sobre-mi .txt-sobre-mi .formacion .border ul li {
  margin: 7px 5px;
}
body section.sobre-mi .txt-sobre-mi .perfil .border ul li h4,
body section.sobre-mi .txt-sobre-mi .formacion .border ul li h4 {
  font-weight: bold;
  margin: 2px 0;
}
body section.sobre-mi .txt-sobre-mi .formacion {
  min-width: 340px;
}
body section.sobre-mi .txt-sobre-mi .perfil {
  min-width: 420px;
}
@media screen and (max-width: 580px) {
  body section.sobre-mi .txt-sobre-mi {
    -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
  }
}
@media screen and (max-width: 930px) {
  body section.sobre-mi {
    -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
    gap: 20px;
  }
}
body[data-theme=dark] {
  /* Dark Mode styles */
  background-color: #20202c;
  color: #eeeae4;
  transition: all 0.5s ease-in-out;
}
body[data-theme=dark] header nav a#nav-btn {
  color: #eeeae4;
}
@media screen and (max-width: 600px) {
  body[data-theme=dark] header nav {
    background-color: rgba(32, 32, 44, 0.8352941176);
  }
  body[data-theme=dark] header nav .nav-txt {
    width: 100%;
    font-size: 1.3rem !important;
  }
  body[data-theme=dark] header nav.active {
    top: 0;
  }
}
body[data-theme=dark] header .btn-dark-mode .fa-solid {
  background-color: #20202c;
  color: #eeeae4;
  -webkit-transform: translateX(-25px);
          transform: translateX(-25px);
  transition: all 0.5s ease-in-out;
}
body[data-theme=dark] section.inicio .text-profile h2.name {
  background-color: #048abf;
  color: #20202c;
}